@model CA2_S00147398.Models.Movies

<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Are you sure you want to delete this?
        </div>
    </div>
    <fieldset>
        <legend>Movies</legend>
        <div class="display-label">
            <p class="lead">
                @Html.DisplayNameFor(model => model.MovieName)
            </p>
            <p>
                @Html.DisplayFor(model => model.MovieName)
            </p>
            <p class="lead">
                @Html.DisplayNameFor(model => model.Description)
            </p>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
            <p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                }
            </p>
        </div>
    </fieldset>
    <div class="panel-footer">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
    </div>

</div>
